[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
safety = "==1.10.3"
cpe = "==1.2.1"
requests = "==2.25.1"
cvss = "==2.2"
pycodestyle = "*"
python-ranges = "==0.1.3"
PyYAML = "==5.4.1"
GitPython = "==3.1.14"
gunicorn = "*"
Flask = "*"
Flask-WTF = "==0.15.1"

[dev-packages]

[requires]
python_version = "3.6"
